<!-- <div class="glitch">
    <img src="../../../assets/img/bg-ini.jpg">
    <div class="glitch__layers">
        <div class="glitch__layer"></div>
        <div class="glitch__layer"></div>
        <div class="glitch__layer"></div>
    </div>
</div> -->


<div class="container">
    <div class="row text-white py-3">
        <ngtypewriter [StringList]='list' [speed]='2000' class="mss1">
        </ngtypewriter>

        <ngtypewriter [StringList]='list1' [speed]='2000' class="mss2">
        </ngtypewriter>
    </div>
</div>
<!-- <div class="col">
    <img src="../../../assets/img/cebra.png" class="position-absolute bottom-0 end-0 img-c">
</div>
 -->
<!-- ../../../assets/img/cebra.png -->