<div class="container">
    <h1 class="text-white text-center mb-3 ">{{tittle}} </h1>
    <div class="row justify-content-center">
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/html.png" alt="html">
                <label class="label-skill">Css3</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/css.png" alt="css">
                <label class="label-skill">Html5</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/javascript.png" alt="javascript">
                <label class="label-skill">JavaScript</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/angular.png" alt="angular">
                <label class="label-skill">Angular</label>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/Bootstrap.png" alt="bootstrap">
                <label class="label-skill">Bootstrap</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/git.png" alt="git">
                <label class="label-skill">Git/Github</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/vscode.png" alt="vscode">
                <label class="label-skill">VScode</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/firebase.png" alt="firebase">
                <label class="label-skill">Firebase</label>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/php.png" alt="php" class="icon-fix">
                <label class="label-skill">PhP</label>
            </div>
        </div>
        <div class="col-auto pcustom">
            <div class="icon-skills">
                <img src="../../../assets/img/mysql.png" alt="mysql" class="icon-fix">
                <label class="label-skill">MySql</label>
            </div>
        </div>
    </div>
</div>