<div class="container">
    <h1 class="text-white text-center">{{tittle}} </h1>

    <div class="card mt-5 p-4 bg-transparent-w" style=" width: auto;">
        <div class="row justify-content-center res">
            <div class="col-4 mx-auto res2">
                <img class="card-img" style=" width: 100%;" src="../../../assets/img/foto.jpg">
            </div>
            <div class="col">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{{subtittle}}</h2>
                    <p class="card-text text-center lh-base fs-3">{{text}}</p>

                    <div class="d-grid col-6 mx-auto">
                        <a href="https://drive.google.com/file/d/1Qp3N67dgV0T_65EQ7RMtT8nsJwfXDGfd/view?usp=sharing"
                            class="btn btn-dark mt-4 fs-4" target="_blank" download="Javier Molina CV"> {{cv}} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>